$main-color: #DEA01E;
$secondary-color: #124873;

.Main-UserInfo-Container{
    height: 100%;
    width: 100%;
    margin: 2rem 2rem 2rem 0rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 2rem 1rem lightgray;
    border-radius: 0.5rem;
    text-align: left;
    #hr_info{
        background-color: lightgray;
        height: 1px;
        border: none;
        width: 95%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .info-container{
        h6{
                font-size: 1rem;
                color: $main-color;
        }
    }

}